@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ==============================General============================================ */

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: #000;
}

/* ==============================General============================================ */

.flotante {
    position: fixed;
    z-index: 999999;
    bottom: 10px;
    right: 10px;
}


/* ==============================Menu============================================ */

#menu li>a {
    font-size: 16px;
    font-weight: bold;
    color: #f3f3f3;
}

#menu form>button {
    font-size: 14px;
    font-weight: bold;
}

/* ==============================Video============================================ */

header {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
}

.absolute {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    z-index: 100;
    color: #fff;
    margin-bottom: 30px;
}

h1::after {
    display: block;
    width: 100%;
    height: 10px;
    content: "";
    margin: auto;
    background: #fff;
}


/* ==============================Servicios============================================ */

.bg-dark{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#servicios {
    background: #E0E0E0;
}

/* ==============================Ubicacion============================================ */


#skills {
    background: #E0E0E0;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 50%;
    margin: auto;
    padding-top: 100px;
}


.skills-title {
    text-align: center;
}

.skills-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills-icon div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skills-icon i {
    font-size: 2.8rem;
}

.skills-icon p {
    margin: 3rem !important;
}

#herramientas {
    background: #E0E0E0;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ==============================Contacto============================================ */

#bg-contacto {
    position: relative;
    top: -130px;
}

#seccion-contactos {
    background-color: #000;
    min-height: 500px;
    position: relative;
}

/* ==============================Contactos Formulario============================================ */

#contenedor-formulario {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #E0E0E0;
    border-radius: 5px;
    max-width: 500px;
}

#titulo-formulario {
    color: #3f3f3f;
}

.img-form {
    border-radius: 50%;
    width: 250px;
}

/* ==============================Footer============================================ */

footer {
    background: #000;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}

/* ==============================Barra scroll============================================ */
/* ::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #106EFD;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 50px;
} */



/* ==============================Media Queries============================================ */

/* ==============================Pantalla Ancha============================================ */
@media (max-width: 1200px) {
    #local {
        flex-wrap: wrap;
        /* padding-top: 30px; */
    }

    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}


/* ==============================Pantalla Sm ============================================ */
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h1::after {
        width: 50%;
    }

    #intro,
    #equipo {
        width: 90% !important;
    }

    #equipo p {
        display: none;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }

    #bg-contacto {
        top: -110px;
    }


}


/* ==============================Pantalla Extra Sm ============================================ */
@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 0;

    }

    h1::after {
        width: 50%;
        height: 5px;
    }

    .absolute {
        min-height: 100%;
        padding-top: 60px;
    }


}