@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ==============================General============================================ */

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* ==============================Menu============================================ */

#menu li > a{
    font-size: 16px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 14px;
    font-weight: bold;
}

/* ==============================Slider de Imagenes============================================ */

.carousel-inner{
    max-height: 39rem;
}








/* ==============================Media Queries============================================ */

/* ==============================Pantalla Ancha============================================ */



/* ==============================Pantalla Sm ============================================ */


/* ==============================Pantalla Extra Sm ============================================ */



