@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

/* ==============================General============================================ */

*{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* ==============================Menu============================================ */

#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 18px;
    font-weight: bold;
}
